# Package requirements for developers
-r requirements.txt
sphinx
twine
wheel
pytest
build
sphinx-copybutton
sphinx-book-theme
# running the notebooks (Showcase.ipynb, Showcase_measured.ipynb)
nbconvert
ipykernel
